body {
    background-color: #CD5C5C;
    margin: 15%;
}

#kep1 {
    width: 220px;
}

h1
{
    text-align:center;
    

}


.bg-grey {
    background-color: #f8f9fa;
}

.custom-border {
    border: 2px solid #343a40;
    border-radius: 2px;
}


